<!Doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock%}</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!-- **CSS - stylesheets** -->
    <link id="default-css" rel="stylesheet" href="{{ asset('/assets/css/style.css') }}" type="text/css" media="all" />
    {#<link id="shortcodes-css" rel="stylesheet" href="{{ asset('/assets/css/shortcodes.css') }}" type="text/css" media="all"/>#}
    {#<link id="skin-css" rel="stylesheet" href="{{ asset('/assets/css/style.css') }}" type="text/css" media="all"/>#}
    {#<link id="layer-slider" rel="stylesheet"  href="{{ asset('/assets/css/style.css') }}" media="all" />#}

    <!-- **Additional - stylesheets** -->
    <link rel="stylesheet" href="{{ asset('/packages/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('/assets/css/master.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('/assets/css/responsive.css') }}" type="text/css" media="all"/>

    <!-- **Font Awesome** -->
    <link rel="stylesheet" href="{{ asset('/packages/fontawesome/css/font-awesome.min.css') }}" type="text/css" />

    <!-- **Google - Fonts** -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

{% block body %}{% endblock%}


<!-- **jQuery** -->
<script src="{{ asset('/assets/js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>


<script src="{{ asset('/packages/PACE/pace.min.js') }}" type="text/javascript"></script>


<script src="{{ asset('/assets/js/jquery.viewport.js') }}" type="text/javascript"></script>


<script src="{{ asset('/packages/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/assets/js/retina.js') }}" type="text/javascript"></script>


<script src="{{ asset('/packages/particles.js/particles.min.js') }}" type="text/javascript"></script>

<script src="{{ asset('/assets/js/custom_index.js') }}" type="text/javascript"></script>

</body>
</html>
